@import 'common/mixin';
@import 'common/common';

.modal-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 41px 77px 60px;
    background-color: #fff;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    max-height: 409px;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0; 
    &__title {
        font: {
            size: 24px;
            weight: 400;
        }
        line-height: 16px;
        text-align: center;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    &__content {
        max-width: 840px;
        align-self: center;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    align-self: normal;
    width: 162px;
    margin-left: 15px;
    &__card {
        width: 36px;
        height: 27px;
        background-repeat: no-repeat!important;
    }
    &__card-visa {
        background: url(../img/cards-sprite.svg#visa);
    }
    &__card-mastercard {
        background: url(../img/cards-sprite.svg#mastercard);
    }
    &__card-americanexpress {
        background: url(../img/cards-sprite.svg#americanexpress);
    }
    &__card-discover {
        background: url(../img/cards-sprite.svg#discover);
    }
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 470px;
    margin-top: 13px;
    &__delimiter {
        font-weight: 400;
        line-height: 32px;
    }
}

.input-block {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 20px;
    &__delimiter {
        font-weight: 400;
        line-height: 32px;
        margin-left: 8px;
    }
    &__wrap {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        width: 100%;
        label {
            margin-bottom: 9px;
        }
        &_w-auto{
            width: auto;
        }
    }
}

.input-block__controllers-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    min-width: 164px;
}

.input-block__controll {
    width: 100%;
    max-width: 162px;
    padding: 7px 8px;
    margin-left: 15px;
    line-height: 16px;
    background: #ffffff;
    border: {
        style: solid;
        width: 1px;
        color: #cccccc;
        radius: 3px;
    }
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    &-wrap {
        position: relative;
    }
    &-month {
        max-width: 64px;
    }
    &-year {
        max-width: 79px;
        margin-right: 15px;
        margin-left: 8px;
    }
    &-verification-code {
        max-width: 85px;
    }
    &-zip-code {
        margin-right: 177px;
    }
    &::placeholder {
        font: {
            size: 14px;
            weight: 400;
        }
        color: $placeholder-color;
        line-height: 32px;
    }
    &-card-number::placeholder {
        font-size: 16px;
        line-height: 32px;
    }
    &-arrow, &-hint-icon {
        position: absolute;
        right: 7px;
        z-index: 10;
        background-repeat: no-repeat!important;
        cursor: pointer;
    }
    &-arrow {
        top: 41%; 
        background: url(../img/toggle-sprite.svg#arrow);
        width: 10.5px;
        height: 7.5px;
    }
    &-arrow_right-22 {
        right: 22px;
    }
    &-hint-icon {
        top: 31%;
        background: url(../img/toggle-sprite.svg#shape);
        width: 12px;
        height: 12px;
    }
}

.input-block__message {
    position: absolute;
    bottom: 3px;; left: 0; right: 0;
    margin: auto;
    min-width: 200px;
    background-color: #fef0ef;
    font-size: 14px;
    line-height: 17px;
    color: #ef5350;
    border: {
        style: solid;
        width: 1px;
        color: #ef5350;
        radius: 3px;
    }
    padding: 10px 9px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.13);
    z-index: 20;
    &::before, &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 50%; left: 50%;
        transform: rotate(-90deg);
    }
    &::before {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        z-index: 3;
        border-right: 10px solid #fef0ef;
        bottom: -15px;
    }
    &::after {
        border-right-color: #ef5350;
        border-right-style: solid;
        border-right-width: 10px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        z-index: 2;
        bottom: -16px;
    }
}

.messages{
    position: relative;
}

.form-hint {
    display: none;
    position: absolute;
    top: -175px; right: 0;
    padding: 20px 20px 30px;
    z-index: 10;
    border: {
        style: solid;
        width: 1px;
        color: #cccccc;
        radius: 3px;
    }
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    &__icon {
        width: 108px;
        height: auto;
        max-height: 67px;
    }
    &__title {
        margin-block-start: 11px;
        margin-block-end: 0;
        font: {
            size: 12px;
            weight: 700;
        }
    }
    &__text {
        margin-block-start: 0;
        margin-block-end: 0;
        font: {
            size: 12px;
            weight: 400;
        }
    }
    &__delimiter {
        margin-block-start: 0;
        margin-block-end: 0;
        border: none;
        background: #dddddd;
        width: 1px;
        margin: 0px 12px;
        transform: rotate(180deg);
    }
    &::before, &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 14px;
        transform: rotate(-90deg);
    }
    &::before {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        z-index: 3;
        border-right: 10px solid #fff;
        bottom: -14px;
    }
    &::after {
        border-right-color: #cccccc;
        border-right-style: solid;
        border-right-width: 10px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        z-index: 2;
        bottom: -15px;
    }
    &.active {
        display: flex;
    }
}

.pay-pal-btn {
    width: 100%;
    max-width: 343px;
    height: 250px;
    margin-top: 17px;
    padding: 14px 16px;
    align-self: flex-end;
    display: flex;
    border: {
        style: solid;
        width: 1px;
        color: #dddddd;
        radius: 6px;
    }
    background: #f7f7f7;
    &__link {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $main-text-color;
        font: {
            size: 18px;;
            weight: 400;
        }
        line-height: 21px;
    }
    &__icon {
        margin-top: 30px;
        width: 136px;
    }
}

.form-btn {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    max-width: 340px;
    margin-top: 20px;
    padding: 12px 24px;
    border: {
        style: solid;
        width: 1px;
        color: #fd7722;
        radius: 3px;
    }
    text-align: center;
    font: {
        size: 14px;
        weight: 700;
    }
    color: #fff;
    line-height: 16px; 
    background: #FF9000;
    cursor: pointer;
}


